.hero__wrapper{
	width: 400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 15px;
}
.hero__img{
	width: 320px;
	margin: 0 auto;
}
.hero__name{
	margin: 10px 0 10px 0;
	font-size: 20px;
}
.hero__info-title{
	text-align: left;
}
.hero__info-title > span{
	font-weight: bold;
}